@charset "UTF-8";
html, body, .main, .tabs, .tabbed-content { float: none; }
body {
    font-family: "Open Sans", sans-serif;
    background-color: #fff;
}
#page.container-fluid {
    padding: 0;
}
h1 {
    font-size: 16px;
    font-weight: bold;
}
header {
	display: none;
}
@media print {
    body {
        -webkit-print-color-adjust: exact; /*Chrome, Safari */
        color-adjust: exact; /*Firefox*/
    }
    .seccioncompleta {
    	page-break-inside: avoid;
    }
}
@page {
  size: letter;
  margin-top: 8mm;
  margin-right: 10mm;
  margin-left: 10mm;
  margin-bottom: 8mm;
}
.endreport {
    break-after: always;
    page-break-after: always;
}
.nombreprofesor {
    font-size: 16px;
    margin-top: 12px;
    font-weight: bold;
}
.comentarios {
	font-size: 12px;
    float: right;
    width: 100%;
    box-sizing: border-box;
    resize: vertical;
}
.row-comentarios {
}
.seccioncompleta .row {
    margin-top: 0px;
    margin-bottom: 0px;
}
@media print {
	.comentarios {
		resize: none;
	}
}
.logos {
	height: 60px;
}
.uai-corporate-logo {
    width: 200px;
    height: 67px;
    float: left;
}
#page-local-encuestascdc-index #page {
    margin-top:0px;
}
.uai-logo {
    width: 200px;
    height: 67px;
    float: right;
}
.reporte_titulo {
    font-weight: bold;
    width: 100%;
    font-size: 22px;
    color: #666;
    padding: 5px;
    text-transform: uppercase;
}
.card {border:none;}
.break-before {
    display: block;
    position: relative;
    clear: both;
}
.break-after {
    display: block;
    position: relative;
}
table, figure, img {
  page-break-inside: avoid;
}
hr {
	margin: 0px;
}
.encuesta {
    margin-right:20px;
}
.tituloseccion {
	font-size: 16px;
	font-weight: bold;
}
.seccion {
    padding-top: 0.5cm;
    padding-bottom: 0.5cm;
	border-bottom: 3px solid #EA4E1D;
}
.titulografico {
	width: 80%;
	vertical-align: middle;
	padding-right: 50px;
}
.resultados {
    display: flex;
}
.row-questions {
    display: flex;
    flex-wrap: wrap;
}
.estadisticas-seccion, .preguntas {
    display:flex;
    flex-direction: column;
}
.cierre-seccion {
    display:inline;
    min-width: 50%;
}
.preguntas ul {
    list-style: none;
    margin-bottom: 0px;
    margin-top: 5px;
}
.preguntas li {
    margin-bottom: 1px;
    border-bottom: 1px solid #ddd;
    line-height: 1.5em;
}
.promedios {
    display: flex;
    width: 100%;
}
.maximo , .minimo, .promedio {
    text-align: center;
}
.estadisticas-seccion {
    display: flex;
    align-items: center;
}
.estadisticas-seccion ul {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}
.estadisticas-seccion div {
    margin-right: 1em;
/*    margin-top: auto;
    margin-bottom: auto;*/
    width: 100%;
}
.numrespuestas {font-size: 12px;}
.escala {
    font-size: 1em;
}
.tituloescala {
    color: #999;
    font-weight: bold;
	text-transform: uppercase;
}
.escala td {
    text-align: center;
}

.primera-pagina {
    background-color: #fff;
    color: #000;
}
.subtitulo {
	display: none;
}
.portada-item {
    color: #595959;
    width: 30%
}
.portada-valor {
    width: 70%;
}
.portada {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-spacing: 0px;
    border-collapse: separate;
    font-size: 14px;
}
.portada td {
    border: 1px solid white;
    padding: 1px;
}
.navegacion {
	display: none;
}
.hyphenate {
    text-align: justify;
    hyphenate-before: 4;
    hyphenate-after: 3;
    hyphens: auto;
    -epub-hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    page-break-after: always;
}
#page-local-encuestascdc-index #page-navbar, #page-local-encuestascdc-index .coursetitle, #page-local-encuestascdc-index .bor {
    display: none;
}
#page-local-encuestascdc-index #page #page-content #region-main {
	border: none;
}