@charset "UTF-8";
html, body, .main, .tabs, .tabbed-content { float: none; }
h1 {
    font-size: 16px;
    font-weight: bold;
}
header {
	display: none;
}
@media print {
    body {
        -webkit-print-color-adjust: exact; /*Chrome, Safari */
        color-adjust: exact; /*Firefox*/
    }
    .seccioncompleta {
    	page-break-inside: avoid;
    }
}
@page {
  size: letter;
  margin-top: 11mm;
  margin-right: 11mm;
  margin-left: 11mm;
  margin-bottom: 11mm;
}
.nombreprofesor {
    font-size: 16px;
}
.comentarios {
	font-size: 12px;
    float: right;
    width: 100%;
    box-sizing: border-box;
    resize: vertical;
}
@media print {
	.comentarios {
		resize: none;
	}
}
.datos {
	margin-left: auto;
}
.datos.cel-4 {
	width: 100%;
}
.datos.cel-7 {
	width: 100%;
}
.datos.cel-4 td {
    width: 20%;
    text-align: center;
    font-size: 12px;
}
.datos.cel-7 td {
    width: 12.5%;
    text-align: center;
    font-size: 12px;
}
.circulo {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.circulo-interno {
  border-radius: 50%;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;  
}
.numero {
	vertical-align: middle;
	margin: 0px;
	margin-left: auto;
	margin-right: auto;
}
.cero {
    border: none;
    background-color: transparent;
}
.trgrafico {
	display: none;
}
.logos {
	height: 60px;
}
.uai-corporate-logo {
    width: 200px;
    height: 67px;
    float: left;
}
.uai-logo {
    width: 200px;
    height: 67px;
    float: right;
}
.reporte_titulo {
    font-weight: bold;
    width: 100%;
    font-size: 16px;
    color: #666;
    padding: 5px;
    text-transform: uppercase;
}
.card {border:none;}
.break-before {
    display: block;
    position: relative;
    clear: both;
    margin-top: 1cm;
}
.break-after {
    display: block;
    position: relative;
}
table, figure, img {
  page-break-inside: avoid;
}
.encuesta {
    margin-right:20px;
}
.tituloseccion {
	font-size: 16px;
	font-weight: bold;
}
.seccion {
	border-bottom: 3px solid #EA4E1D;
}
.titulografico {
	width: 50%;
	vertical-align: middle;
	padding-right: 50px;
}
.promedio {font-size: 16px; font-weight: bold;}
.numrespuestas {font-size: 12px;}
.escala {
    font-size: 1em;
}
.tituloescala {
    color: #999;
    font-weight: bold;
	text-transform: uppercase;
}
.escala td {
    text-align: center;
}

.primera-pagina {
    background-color: #fff;
    color: #000;
}
.subtitulo {
	display: none;
}
.portada-item {
    color: #595959;
    width: 30%
}
.portada-valor {
    width: 70%;
}
.portada {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-spacing: 0px;
    border-collapse: separate;
    font-size: 16px;
}
.portada td {
    border: 1px solid white;
    padding: 1px;
}
.navegacion {
	display: none;
}
.hyphenate {
    text-align: justify;
    hyphenate-before: 4;
    hyphenate-after: 3;
    hyphens: auto;
    -epub-hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    page-break-after: always;
}